// src\app\shared\components\sidenav\sidenav.component.scss-theme.scss
@use "@angular/material" as mat;
@use "sass:map";

@mixin sidenav-component-theme($config-or-theme) {
  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  .mat-drawer {
    // let's take mat-toolbar's default theme
    background-color: mat.get-color-from-palette($background, app-bar);
    color: mat.get-color-from-palette($foreground, text);

    // now, mat-toolbar's colored themes
    $color-list: (
      "primary": $primary,
      "accent": $accent,
      "warn": $warn,
    );

    @each $key, $val in $color-list {
      &[color="#{$key}"] {
        background-color: mat.get-color-from-palette($val);
        color: mat.get-color-from-palette($val, default-contrast);
        .mat-list-base {
          .mat-list-item {
            color: mat.get-color-from-palette($val, default-contrast);
          }
        }
      }
    }
  }
}
